*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: rgb(30, 38, 35);
}

header{
    background-color: rgb(35, 113, 80);
    padding: 32px;
    color: aliceblue;
    text-align: center;
}